name: Build and Deploy

on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      run: |
        cd shareme_frontend
        npm install
        npm run build
      env:
        CI: false
        REACT_APP_GOOGLE_API_TOKEN: ${{ secrets.REACT_APP_GOOGLE_API_TOKEN }}
        REACT_APP_SANITY_PROJECT_ID: ${{ secrets.REACT_APP_SANITY_PROJECT_ID }}
        REACT_APP_SANITY_TOKEN: ${{ secrets.REACT_APP_SANITY_TOKEN }}

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.0.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: shareme_frontend/build
